<!DOCTYPE html>
<html>
<head>
  <title>Adminlogin</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
<div class="header">
	<h4 align="right">{{username}}</h4>
  	<center><h1>Student Profile Management System</h1></center>

</div>

<div class="row">
  <div class="col-2 col-s-3 menu">
    <ul>
        <a href="{{url_for('adminindex')}}"><li>Home</li></a>
        <li>About</li>
        <li>Contact Us</li>
    </ul>
  </div>

  <div class="col-7 col-s-9">
    
    <center>
    <h3>Department Of Computer Engineering</h3>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <p style="color: blue">{{ messages }}</p>
      {% endif %}
    {% endwith %}
      <div class="wrapper">
        <br>
        <h2>Admin Login</h2>
        <form action="{{url_for('checkadmin')}}" method="POST">
            <input type="email" name="email" placeholder="email" required><br><br>
            <input type="password" name="password" placeholder="password" required><br><br>
            <input type="submit" name="submit" value="Login" class="submit">
        </form>
        <br>
    </div>
      </center>
  </div>

  <div class="col-3 col-s-12">
    <div class="aside">
      <h2>What?</h2>
      <p>Chania is a city on the island of Crete.</p>
      <h2>Where?</h2>
      <p>Crete is a Greek island in the Mediterranean Sea.</p>
      <h2>How?</h2>
      <p>You can reach Chania airport from all over Europe.</p>
      <h2>When?</h2>
      <p>Every sunday at 9 pm.</p>
      <br>
    </div>
  </div>
</div>

<div class="footer">
  <p>All the rights are reserved for departmen of computer engineering.</p>
</div>




<style>
.wrapper{
    margin-top:50px;
    width: 300px;
    border-radius: 130px;
    background-color :rgb(121, 129, 240);
    
  }

input{
    text-align: center;
    font-style: inherit;
    font-size: 16px;
    width: 220px;
    height: 30px;
    border-radius: 10px;
    border: 20px;
}   
.submit{
    background-color:darkviolet;
    height: 35px;
    color: white;
    border-radius: 15px;
    width: 180px;
}

</style>
</body>
</html>
