<!DOCTYPE html>
<html>
<head>
<title>Homepage</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dropdown.css')}}">
<div class="header">
	<h4 align="right">{{username}}</h4>
  	<center><h1>Student Profile Management System</h1></center>
</div>

<div class="row">
  <div class="col-2 col-s-3 menu">
    <ul>
      <a href="{{url_for('index')}}"><li>Home</li></a>
      <li>About</li>
      <li>Contact Us</li>
      <a href="{{url_for('studentlogout')}}"><li>Logout</li></a>
    </ul>
  </div>

  <div class="col-7 col-s-9">
    <center><h2>Department Of Computer Engineering</h2>
    <p>Welcome, Here you can see your profile and you can update it also. </p>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
          <p style="color: blue">{{ messages }}</p>
        {% endif %}
      {% endwith %}
    <div class="show-info">
      <table>
        <tr>
          <th>
          <div class="dropdown">
            <button class="dropbtn">View Profile</button>
              <div class="dropdown-content">
                <a href="{{url_for('searchpersonalprofile')}}">Personal Details</a>
                <a href="{{url_for('searchacademicprofile')}}">Academic Details</a>
                <a href="{{url_for('searchcertificatesprofile')}}">Certifications</a>
              </div>
          </div>
      </th>
      <th>
          <th>
              <div class="dropdown">
                <button class="dropbtn">Update Profile</button>
                <div class="dropdown-content">
                  <a href="{{url_for('updatepersonalpage')}}">Personal Details</a>
                  <a href="{{url_for('updateacademicpage')}}">Academic Details</a>
                  <a href="{{url_for('updatecertificatepage')}}">Certifications</a>
                </div>
              </div>
          </th>
      </th>
      </tr>
      </table>
    </div>

    <br>
    <div class="show-profile">
      {% if personal %}
      <table border=1>
          {%for k,v in personal.items()%}
          <tr>
            <th class="tabhead">{{k}}</th>
            <td>{{v}}</td>
          </tr>
        {%endfor%}
      </table>
      {%endif%}
    </div>
    <div class="show">
      {% if academic %}
      <table border=1>
        {%for k,v in academic.items()%}
          <tr>
            <th class="tabhead">{{k}}</th>
            <td>{{v}}</td>
          </tr>
        {%endfor%}
      </table>
      {%endif%}
    </div>
    <div class="show">
        {% if certificate %}
        <table border=1>
          {%for k,v in certificate.items()%}
            <tr>
              <th class="tabheadcer">{{k}}</th>
              {%for a in v %}
              <tr><td>{{a}}</td></tr>
              {%endfor%}
            </tr>
          {%endfor%}
        </table>
        {%endif%}
      </div>
  </center>
  </div>

  <div class="col-3 col-s-12">
    <div class="aside">
      <h2>How?</h2>
      <p>You can reach Chania airport from all over Europe.</p>
      <h2>When?</h2>
      <p>Every sunday at 9 pm.</p>
      <h2>How?</h2>
      <p>You can reach Chania airport from all over Europe.</p>
      <h2>When?</h2>
      <p>Every sunday at 9 pm.</p>
      <br>
    </div>
  </div>
</div>

<div class="footer">
  <p>All the rights are reserved for departmen of computer engineering.</p>
</div>


<style>
.tabhead{
  color: rgb(37, 13, 32);
  width: 120px;
}
.tabheadcer{
  width: auto;
  color: red;
}
</style>
</body>
</html>
